* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
}

h2 {
	margin-top: 1em;
	margin-bottom: 1em;
}

h3 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.content {
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#game {
	display: inline-block;
}

.cache {
	width: 122px;
	height: 292px;
	background-image: url("cache.jpg");
	height: 100%;
}

.wholeboard {
	width: 610px;
	height: 292px;
}

.select {
	height: 292px;
	width: 90px;
}

.player {
	height: 146px;
	width: 90px;
	background-repeat: no-repeat;
	vertical-align: center;
}

table {
	border-collapse: collapse;
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
}

td {
	border-width: 0px;
	padding: 0px;
}

.board {
	width: 366px;
	height: 292px;
}

.square {
	width: 61px;
	height: 146px;
	background-image: url("board_square.jpg");
}

.slot {
	width: 15px;
	height: 15px;
}

.leftcolumn {
	vertical-align: center;
	position: relative;
	left: 15px;
	width: 15px;
	height: 120px;
}

.rightcolumn {
	vertical-align:center;
	position:relative;
	right:0px;
	width:15px;
	height:105px;
}

.leftcache {
	vertical-align: center;
	left: 35px;
	position: relative;
	width: 15px;
	height: 165px;
}

.middlecache {
	vertical-align: center;
	position: relative;
	left: 7px;
	width: 15px;
	height: 180px;
}

.rightcache {
	vertical-align: center;
	position: relative;
	right: 20px;
	width: 15px;
	height: 165px;
}

.currentPlayer {
	background-color: yellow;
}

.currentPlayer::before {
	content: url('arrow.png');
	height: 1em;
	object-fit: contain;
	display: inline-block;
}

#player1, #player2 {
	display: inline-block;
	width: 50%;
	text-align: left;
	object-fit: contain;
}