@font-face {
    font-family: Roboto;
    src: url('Roboto-Regular.ttf');
}

@font-face {
	font-family: Andika;
	src: url('Andika-Regular.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
	text-align: center;
}

h2 {
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-block;
	font-family: "Andika";
	font-weight: bold;
	font-size: 2.5em;
}

h3 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.content {
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#game {
	display: inline-block;
}

td.cache {
	padding-left: 38.5px;
	padding-right: 38.5px;
	/*background-image: url("cache.jpg");*/
}

table.cache {
	width: 45px;
	height: 326px;
}

.wholeboard {
	width: 1055px;
	height: 326px;
	background-image: url("board.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 90px;
}

.select {
	height: 326px;
	width: 90px;
}

.player {
	height: 146px;
	width: 90px;
	background-repeat: no-repeat;
	vertical-align: center;
}

table {
	border-collapse: collapse;
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
}

td {
	border-width: 0px;
	padding: 0px;
}

.board {
	width: 366px;
	height: 326px;
}

.square {
	width: 61px;
	height: 146px;
	/*background-image: url("board_square.jpg");*/
}

.slot {
	width: 32px;
	height: 32px;
	transition: transform .3s ease;
	/*transform: translate(61px, 0px);*/
}

svg image{
	transition: transform .3s ease;
}

.leftcolumn {
	vertical-align: center;
	position: relative;
	left: 32px;
	width: 32px;
	height: 105px;
}

.rightcolumn {
	vertical-align:center;
	position:relative;
	right:0px;
	width:32px;
	height:120px;
}

.leftcache {
	vertical-align: center;
	width: 32px;
	height: 165px;
}

.middlecache {
	vertical-align: center;
	width: 32px;
	height: 180px;
}

.rightcache {
	vertical-align: center;
	width: 32px;
	height: 165px;
}

.currentPlayer {
	background-color: yellow;
}

#player1, #player2 {
	display: inline-block;
	width: auto;
	object-fit: contain;
}

#player1 {
	float: right;
}

#player2 {
	float: left;
	padding-left: 90px;
}

button.help{
    height: 1.5em;
    width: 1.5em;
    border-radius: .75em;
    font-size: .75em;
    float: none;
    border: 2px ridge rgb(92, 127, 233);
    padding: 0px;
    background-color: rgb(184, 202, 255);
    box-shadow: none;
    font-weight: bold;
    position: relative;
    left: 17em;
}

#ModalContainer{
    background-color: rgba(155, 155, 155, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
}

.modal {
    width: 40%;
    height: 30%;
    position: absolute;
    border: 1px solid black;
    left: 30%;
    top: 35%;
    background-color: white;
    padding: 20px;
}

.modal h3 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.modal button {
	font-size: 1.5em;
    float: right;
    padding: .25em;
    border-radius: 10px;
	cursor: pointer;
	border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(136, 235, 162);
    box-shadow: 0px 0px 2px 2px rgb(104, 196, 128) inset;
    top: 6%;
}

.modal button:hover {
    background-color: rgb(104, 196, 128);
    box-shadow: 0px 0px 2px 2px rgb(136, 235, 162) inset;
}

.modal p {
	text-align: left;
	margin-bottom: 1em;
}