.cache{
	width:122px;
	height:292px;
	background-image:url("../media/cache.jpg");
	height:100%
	width:100%
}
.wholeboard{
	width:610px;
	height:292px;
}
.select{
	height:292px;
	widhth:90px;
}
.player{
	height:146px;
	width:90px;
	background-repeat:no-repeat;
	verticle-align:center;
}
table{
	border-collapse:collapse;
	border-width:0px;
	border-spacing:0px;
	border-style:none;
}
td{
	border-width:0px;
	padding:0px;
}
.comments{
	border-collapse:separate;
	border-width:1px;
	border-spacing:2px;
	border-style:outset;
}
.comments td{
	border-width:1px;
	padding:1px;
}
.board{
	width:366px;
	height:292px;
}
.square{
	width:61px;
	height:146px;
	background-image:url("../media/board_square.jpg");
	height:100%
	width:100%
}
.slot{
	width:15px;
	height:15px;
}
.leftcolumn{
	vertical-align:center;
	position:relative;
	left:15px;
	width:15px;
	height:120px;
}
.rightcolumn{
	vertical-align:center;
	position:relative;
	right:0px;
	width:15px;
	height:105px;
}
.leftcache{
	vertical-align:center;
	left:35px;
	position:relative;
	width:15px;
	height:165px;
}
.middlecache{
	vertical-align:center;
	position:relative;
	left:7px;
	width:15px;
	height:180px;
}
.rightcache{
	vertical-align:center;
	position:relative;
	right:20px;
	width:15px;
	height:165px;
}
